<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <title>Petopia - Chats</title>
    <style>
        /* Custom styles */
        .message {
            margin-bottom: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            clear: both;
        }

        .sender-message {
            float: right;
            background-color: #d2eaf6; /* Adjust the color as needed */
        }

        .receiver-message {
            float: left;
            background-color: #f9f9f9; /* Adjust the color as needed */
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-light">
            <div class="p-4">
                <% chats.forEach(chat => { %>
                    <a href="/chats?id=<%= chat.id %>"
                       class="d-block chat-option card <%= chat.id === selectedChat ? 'selected-chat' : '' %>">
                        <div class="card-body p-3">
                            Chat <%= chat.id %>
                        </div>
                    </a>
                <% }); %>
            </div>
        </div>
        <div class="col-md-9">
            <% if (chat !== undefined) { %>
                <div class="p-4">
                    <h2>Chat Title</h2> <!-- Update with chat title if available -->
                    <% chat.forEach((message) => { %>
                        <div class="message <%= message.sender_id === 1 ? 'sender-message' : 'receiver-message' %>">
                            <%= message.message %>
                        </div>
                <% }); %>
                </div>
                <div class="p-4">
                    <form action="chats/<%= selectedChat %>/message" method="post" class="input-group">
                        <input type="hidden" name="recipient_id" value="<%= recipient_id %>">
                        <input type="hidden" name="chat_id" value="<%= selectedChat %>">
                        <input type="text" class="form-control" name="message" placeholder="Type your message...">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            <% } else { %>
                <p class="text-center p-5">Select a chat to view messages</p>
            <% } %>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
