<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <title>Petopia - Chats</title>

    <style>
        body {
            display: flex;
            font-family: Arial, sans-serif;
        }

        #left-panel {
            width: 30%;
            border-right: 1px solid #ccc;
            padding: 20px;
        }

        #right-panel {
            flex: 1;
            padding: 20px;
        }

        .chat-option {
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        .selected-chat {
            background-color: #f2f2f2;
        }

        .message {
            margin-bottom: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            clear: both;
        }

        .sender-message {
            float: right;
            background-color: #d2eaf6; /* Adjust the color as needed */
        }

        .receiver-message {
            float: left;
            background-color: #f9f9f9; /* Adjust the color as needed */
        }
    </style>
</head>
<body>

<div id="left-panel">
    <% chats.forEach((chat, index) => { %>
        <a href="/chats?id=<%= index %>" class="chat-option <%= index === selectedIndex ? 'selected-chat' : '' %>">
            This is ok
        </a>
    <% }); %>
</div>
<div id="right-panel">
    <% if (chat !== undefined) { %>
        <h2><%=  %></h2>
        <% chat.forEach((message) => { %>
            <div class="message <%= message.sender_id === 1 ? 'sender-message' : 'receiver-message' %>">
                <%= message.message %>
            </div>
        <% }); %>
    <% } else { %>
        <p>Select a chat to view messages</p>
    <% } %>
</div>

<div>
    <form action="/" method="post">
        <input type="text">
        <button type="submit">Send</button>
    </form>
</div>
<script src="/public/js/bootstrap.bundle.min.js"></script>
</body>
</html>