<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/public/css/reviewPage.css"/>
    <title>review Page</title>
</head>
<main>
    <img src="/public/img/logo-no-background.png" alt="Petopia Logo"/>
    <a href="/user/account/<%= receiver_id %>" id="returnButton">Return to account</a>

    <div id="box">
        <h2 id="shelter-name"><%= shelter.first_name %> <%= shelter.last_name %></h2>
        <img class="profile-pic" src="/public/img/add-photo.png" id="profile-pic"/>
    </div>

    <div id="box1">
        <div id="white-box">
            <% for (let i = 0; i < reviews.length; i++) { %>
                <div class="comment">
                    <img class="quote" src="/public/img/quotes.png" alt="Quote 1">
                    <p><strong><%= reviews[i].user_name %></strong> writes "<%= reviews[i].comment %>"</p>
                </div>
            <% } %>
        </div>
        <form action="/review" method="post" id="white-box1">
            <input type="hidden" name="receiver_id" value="<%= receiver_id %>">
            <input type="text" name="comment">
            <input type="image" src="/public/img/send.png" alt="" width="67" height="74">
        </form>
    </div>

    <footer>
        <nav>
            <ul class="list">
                <li><a href="#">Product</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Resources</a></li>
                <li id="petopia"><a href="#">Petopia</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </nav>

        <br>
        <hr>
        <br>
        <div class="circle-container">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </footer>
</main>