<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/public/css/searchPage.css"/>
    <title>Search Page</title>
</head>
<body>
<main>
    <img src="/public/img/logo-no-background.png" alt="Petopia Logo"/>
    <a href="/user/account" id="MyaccountButton"
       style="text-decoration: none; text-align: center; padding-top: 0.125rem">My account</a>

    <div id="heading">
        <div id="grey-box">

        </div>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore et
            dolore magna aliqua. <br>Duis sagittis ipsum. </p>
        <p id="grey-text">eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit</p>
    </div>

    <div id="box1">
        <form action="/pets/" method="get">
            <p>Species</p>
            <input class="search" name="species" placeholder="Species">
            <p>Age</p>
            <input class="search" name="age" placeholder="Age">
            <p>Size</p>
            <input class="search" name="size" placeholder="Size">
            <p>Color</p>
            <input class="search" name="color" placeholder="Color">
            <p>Gender</p>
            <input class="search" name="gender" placeholder="Gender">
            <button id="filterButton" type="submit">Filter</button>
        </form>
    </div>

    <div class="container">
        <% let n = Math.min(pets.length, 3) %>
        <% for(let i = 0; i < n; i++) { %>
            <div style="flex-direction: column">
                <div>
                    <img src="<%= pets[i].profile_photo !== '' ? pets[i].profile_photo : '/public/img/profilepetpic.png' %>"
                         alt="" class="inner-square-top">
                </div>
                <div class="inner-square-bottom" style="flex-direction: column;border: 1px solid black">
                    <h4 style="text-align: center; width: 100%"><%= pets[i].name %></h4>
                    <br>
                    <%= pets[i].description %>
                    <br>
                    <a href="/pets/<%= pets[i].id %>" style="margin-top: auto;">See more ></a>
                </div>
            </div>
        <% } %>
    </div>

    <div class="container">
        <% for(let i = 3; i < Math.min(pets.length, 6); i++) { %>
            <div style="flex-direction: column">
                <div>
                    <img src="<%= pets[i].profile_photo !== '' ? pets[i].profile_photo : '/public/img/profilepetpic.png' %>"
                         alt="" class="inner-square-top">
                </div>
                <div class="inner-square-bottom" style="flex-direction: column;border: 1px solid black">
                    <h4 style="text-align: center; width: 100%"><%= pets[i].name %></h4>
                    <br>
                    <%= pets[i].description %>
                    <br>
                    <a href="/pets/<%= pets[i].id %>" style="margin-top: auto;">See more ></a>
                </div>
            </div>
        <% } %>
    </div>

</main>
<footer>
    <nav>
        <ul class="list">
            <li><a href="#">Product</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Resources</a></li>
            <li id="petopia"><a href="#">Petopia</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </nav>

    <br>
    <hr>
    <br>
    <div class="circle-container">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</footer>
</body>
</html>
